@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100vw;
    height: 100vh;
    background-image: url(images/Tunnle.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo
{
    width: 200px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 19px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background:aqua;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;

}
.header-text span{
    color: aqua;
}


/*--------------about----------*/
#about{
    padding: 80px 0;
    color: aqua;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;

}
.about-col-2{
    flex-basis: 100%;

}
.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.tab-title{
    display:flex;
    margin:20px 0 40px;
}
.tab-links{
        margin-right: 50px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
        color: #fff;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:aqua;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}
.tab-links.active-link::after{
    width: 50%;

}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:white;
    font: 14px;

}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*--------------services----------*/
#services{
    padding: 30px 0;

}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;}
              

.services-list div{
    background:#080808;
    ;
    padding:20px;
    font-size: 15px;
    font-weight: 300;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
    

}
.services-list div h2{
    color: aqua;
}
.services-list div a{
    text-decoration: none;
    color: aqua;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background-color: #262626;
    transform: translateY(-15px)
}
/*--------------portfolio   ----------*/
#portfolio{
    padding: 50px 0;


}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;}
              

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
   
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    

}
.layer{
    font-size: 15px;
}
.layer h3{
  margin-top: 10px;
  margin-bottom: 10px;
  color: aqua;
}
.layer a{
    margin-top: 20px;
    color: aqua;
}
.work:hover img{
    transform: scale(1.1);
}
/*--------------contact   ----------*/

.contact-left{
    flex-basis:60%;

}
.contact-rigth{
    flex-basis: 60px;
}
.contact-left p{
    margin-top: 18px;
}
.contact-left p i{
    color: aqua;
    margin-right: 5px;
    font-size: 22px;
}
.social-icons {
    margin-top: 15px;
    margin-bottom: 10px;

}
.social-icons a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 15px;
    color: aqua;
    display: inline-block;

    

}
.social-icons a:hover{
    color: white;
  
}
.btn.btn2{
    margin-top: 10px;
    background-color: #080808;
    font-size: 15px;
    font-weight: 500;
    display: block;
    text-decoration: none;
    width: fit-content;
    border: 2px solid #262626;
    padding: 5px 21px;
    color: aqua;
    transition: 0.5s;
    margin-bottom: 20px;


}
.btn:hover{
    border: 2px solid aqua; 
    
    
}
.contact-right form{
  
    width: 100%;

}
.form input, form textarea{
    margin-top: 10px;
    width: 100%;
    border:0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin:15px 0;
    color: white;
    font-size: 15px;

}
form.btn2{
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-size: 12px;
    margin-top: 20px;
}
#msg{
    color: aqua;
    margin-top: -18px;
    display: block;
}
.topicon a{
    color: aqua;
    background-color: aqua;
}
   

    